body {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

ol,
ul,
li {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    color: $primary;
    cursor: pointer;
  }
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 0;
}

button {
  background: transparent;
  border: transparent;
}