// 課程簡介
.course-info-title{
  font-size: 18px;
  &::before{
    content: '|';
    color: $primary;
    font-size: 18px;
    margin-right: 5px;
    margin-left: 5px;
  }
}
.course-info-skill{ 
  li{
    font-size: 16px;
    &::before{
      content: '▪';
      color: $primary;
      margin-right: 3px;
    }
  }
}

.course-fees-details{
  li{
    &:hover,
      &:focus,
      &:active {
        .course-price {
          color: $primary;
          cursor: pointer;
        } 
     }
  }
}

.course-card{
  &:hover,&:focus,&:active{
    border: 1px solid $primary;
  }
}

.teacher-info-title{
  @media(max-width: 576px){
    font-size: 22px;
  }
}