
.btn-outline-light{
  &:hover{
    background-color: transparent;
    color: $primary;
    border: 1px solid $primary;
  }
}

.all-course{
  li{
    a{
      font-size: 16px;
    }
  }
}

.course-info{
  .course-list{
    .card{
      &:hover{
        border: 2px solid $primary;
        border-radius: 0;
      }
      .course-content{
        @media(max-width:576px){
          h6{
            font-size: 20px;
          }
        }
      }
    }
  }
}